{% extends 'base.html.twig' %}

{% block title %}ShowRoom{% endblock %}

{% block body %}
    <div class="test">
        <div class="containerCarte">
            {% for cars in car %}
                <div class="carte mt-5">
                    <div class="titre">
                        <span>{{cars.idModele.marque.name}} {{cars.idModele.name}}</span>
                    </div>
                    <img src="{{cars.cover}}" alt="" srcset="">
                    <div class="info">
                        <span>Kilometrage {{cars.kilometrage}} KM</span>
                        <span>{{cars.nbproprio}} Propriétaires préc.</span>
                    </div>
                    <div class="info">
                        <span>Prix {{cars.price}} €</span>
                        <span>Date {{cars.year | date('d/m/y')}}</span>
                    </div>
                    <div class="btn mt-4">
                        <a href="{{path('info',{'id': cars.id})}}">Plus d'info</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}